@font-face {
  font-family: SFProTextBold;
  src: url("Assets/Fonts/SF-Pro-Text-Bold.otf") format("opentype");
}
@font-face {
  font-family: SFProTextLight;
  src: url("Assets/Fonts/SF-Pro-Text-Light.otf") format("opentype");
}
@font-face {
  font-family: SFProTextMedium;
  src: url("Assets/Fonts/SF-Pro-Text-Medium.otf") format("opentype");
}
@font-face {
  font-family: SFProTextRegular;
  src: url("Assets/Fonts/SF-Pro-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: SFProTextSemibold;
  src: url("Assets/Fonts/SF-Pro-Text-Semibold.otf") format("opentype");
}
@font-face {
  font-family: SFProTextThin;
  src: url("Assets/Fonts/SF-Pro-Text-Thin.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #179ce4;
}

/* Header */

.header {
  margin-top: 65px;
  width: 80%;
}

.header__logo {
  font-family: "SFProTextBold";
  font-size: 1rem;
}

.header__title {
  margin-top: 30px;
  letter-spacing: -1.13px;
  font-family: "SFProTextBold";
  font-size: 24px;
  color: #2f3132;
}

.header__description {
  width: 250px;
  margin-top: 5%;
  letter-spacing: -0.59px;
  font-family: "SFProTextLight";
  font-size: 12.5px;
  color: #2f3132;
}

@media only screen and (min-width: 600px) {
  .header {
    width: 70%;
  }

  .header__title {
    margin-top: 65px;
    font-size: 48px;
  }

  .header__description {
    margin-top: 20px;
    font-size: 25px;
    width: 600px;
  }
}

/* Header END */

/* New to Do */

.newtodo {
  margin-top: 25px;
  width: 80%;
}

.newtodo__label {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: "SFProTextBold";
  font-size: 12px;
}

.newtodo__inputwrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.newtodo__input {
  width: 100%;
  padding-left: 10px;
  border-radius: 4px;
  margin-right: 24px;
  border: 1px solid #dedede;
  outline: none;
  letter-spacing: -0.34px;
  font-size: 14, 4px;
}

.newtodo__input::placeholder {
  color: #dedede;
}

.newtodo__btn {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-family: "SFProTextBold";
  font-size: 0.5rem;
  color: white;
  background-color: #179ce4;
  cursor: pointer;
}

.newtodo__response {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "SFProTextBold";
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .newtodo {
    margin-top: 40px;
    width: 70%;
  }

  .newtodo__label {
    margin-bottom: 16px;
    margin-left: 16px;
    font-size: 16px;
  }

  .newtodo__btn {
    width: 136px;
    height: 47px;

    font-size: 1rem;
  }

  .newtodo__response {
    margin-top: 16px;
    margin-left: 16px;
    font-size: 16px;
  }
}

/* New to Do END */

/* To do's */

.todos {
  width: 80%;
  margin-top: 20px;
}

.todos__title {
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: "SFProTextBold";
  font-size: 12px;
}

.todos__list {
  list-style-type: none;
}

.todos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dedede;
  height: 100px;

  word-break: break-word;
  font-size: 12px;
  letter-spacing: -0.38px;
  font-family: "SFProTextRegular";
  text-align: center;
  color: #2f3132;
}

.todos__item--active {
  background-color: #e2f0cf;
  color: #8bc241;
}

.todos__check__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: solid 1px #dedede;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.todos__check__wrapper--active {
  background-color: #8bc241;
}

.todos__check {
  display: none;
}

.todos__check--active {
  display: block;
  color: white;
}

@media only screen and (max-width: 599px) {
  .todos__list {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  .todos__item {
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #179ce4;
  }

  .todos__item--active {
    background-color: #e2f0cf;
    color: #8bc241;
  }
}

@media only screen and (min-width: 600px) {
  .todos {
    width: 70%;
    margin-top: 64px;
  }

  .todos__title {
    margin-bottom: 16px;
    margin-left: 16px;
    font-size: 16px;
  }

  .todos__list {
    flex-direction: column;
  }

  .todos__list > li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .todos__list > li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .todos__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    height: 47px;
    font-size: 16px;
  }

  .todos__check__wrapper {
    margin-right: 16px;
  }
}

/* To do's END */

/* Footer */

.footer {
  width: 80%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.footer__title {
  margin-bottom: 10px;
  margin-left: 10px;
  align-self: flex-start;
  font-family: "SFProTextBold";
  font-size: 12px;
}

.footer__content__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.footer__links__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 371px;
}

@media only screen and (max-width: 600px) {
  .footer {
    align-items: center;
    margin-top: 32px;
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    width: 70%;
  }

  .footer__content__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__title {
    margin-bottom: 16px;
    margin-left: 16px;
    font-size: 16px;
  }
}

/* Card */

.footer__card {
  width: 100%;
  height: 100%;
  display: flex;
}

.footer__img {
  display: block;
  height: 150px;
  width: 30%;
  object-fit: cover;
  object-position: 50% 95%;
}

.footer__contentwrapper {
  width: 100%;
  border: 1px solid #dedede;
}

.footer__card__title {
  font-family: "SFProTextMedium";
  font-size: 14px;
  letter-spacing: -0.49px;
  color: #2f3132;
}

.footer__text {
  width: 100%;
  padding-top: 8px;
  letter-spacing: -0.34px;
  line-height: 18px;
  font-family: "SFProTextRegular";
  font-size: 12px;

  color: #636363;
}

.footer__link {
  padding-bottom: 8px;

  font-family: "SFProTextRegular";
  font-size: 10px;
}

.footer__arrowright {
  width: 12px;
  height: 9.7px;

  color: rgb(150, 150, 150);
}

@media only screen and (max-width: 600px) {
  .footer__contentwrapper {
    max-height: 150px;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .footer__content {
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer__arrowright {
    padding-left: 4px;
  }
}

@media only screen and (min-width: 600px) {
  .footer__card {
    width: 296px;
    height: 371px;
    margin-right: 24px;
    flex-direction: column;
  }

  .footer__img {
    height: 160px;
    width: 296px;
  }

  .footer__contentwrapper {
    height: 211px;
    width: 294px;
    border: 1px solid #dedede;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .footer__content {
    padding: 28px 31px 24px 24px;
  }

  .footer__card__title {
    font-size: 21px;
  }

  .footer__text {
    padding-top: 8px;
    width: 241px;
    height: 101px;
    line-height: 23px;
    font-size: 14.4px;
  }

  .footer__link {
    padding-top: 8px;
    font-size: 14.4px;
  }

  .footer__arrowright {
    padding-left: 8px;
  }
}

/* Card END*/

/* Footer-first */

.footer__first {
  width: 45%;
}

.footer__first__list {
  padding-bottom: 12px;
  letter-spacing: -0.34px;
  font-family: "SFProTextRegular";
  font-size: 14.4px;
  color: #2f3132;
}

.footer__first__item {
  padding-top: 12px;
  padding-bottom: 12px;
  list-style-type: none;
  border-bottom: 1px solid #dedede;
  letter-spacing: -0.34px;
  font-family: "SFProTextRegular";
  font-size: 14.4px;
}

.footer__first__item:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 600px) {
  .footer__first {
    margin-top: 32px;
  }
  .footer__first__list {
    font-size: 10px;
  }

  .footer__first__item {
    font-size: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .footer__first {
    margin-right: 24px;
    width: 100%;
  }
}

/* Footer-first END */

/* Footer-second */

.footer__second {
  width: 45%;
}

.footer__second__list {
  letter-spacing: -0.34px;
  font-family: "SFProTextRegular";
  font-size: 14.4px;
  color: #2f3132;
}

.footer__second__item {
  list-style-type: none;
  border-bottom: 1px solid #dedede;
}

.footer__second__item__title {
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  letter-spacing: -0.34px;
  font-family: "SFProTextRegular";
  font-size: 14.4px;
}

.footer__second__item__title--active {
  border-bottom: 1px solid #dedede;
}

.footer__second__item:last-child {
  border-bottom: none;
}

.footer__arrow {
  position: absolute;
  right: 1%;
  top: 35%;
  border: solid #717171;
  border-width: 0px 1px 1px 0px;
  display: inline-block;
  padding: 3px;
  height: 1.5px;
  width: 1.5px;
  cursor: pointer;
}

.footer__arrow__down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.footer__arrow__down--active {
  transform-origin: center;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 50%;
}

.footer__second__item__item {
  display: none;
  list-style-type: none;
  margin-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: -0.28px;
  font-family: "SFProTextRegular";
  font-size: 12px;
  border-bottom: 1px solid #dedede;
}

.footer__second__item__item > a {
  color: #616161;
}

.footer__second__item__item:last-child {
  border-bottom: none;
}

.footer__second__item__item--active {
  display: block;
}

@media only screen and (max-width: 600px) {
  .footer__second {
    margin-top: 32px;
  }

  .footer__second__list {
    font-size: 10px;
  }

  .footer__second__item__item {
    font-size: 10px;
  }

  .footer__second__item__title {
    font-size: 10px;
  }

  .footer__arrow {
    top: 35%;
    padding: 2px;
  }

  .footer__arrow__down--active {
    top: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .footer__second {
    width: 100%;
  }
}

/* Footer-second END */

/* Footer END */
